:global {
  .ant-pagination-item {
    border-radius: 14px !important;
  }

  .ant-pagination-item-active {
    border-color: #c0ebff !important;
    background-color: #fff !important;
    color: #0190fe !important;
  }
}
